{% assign hackathons = site.data.data.hackathons %}
{% if hackathons %}
<section class="section hackathons-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user-circle fa-stack-1x fa-inverse"></i>
    </span>
    {{ hackathons.title }}
  </h2>

  {% for hackathon in hackathons.info %}
  <div class="item">

    <div class="meta">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      <div class="upper-row">

        <span class="hackathon-title">
          {% if hackathon.link %}
          <a href="{{ hackathon.link }}" target="_blank">
            <h3 class="job-title">{{ hackathon.role }}</h3>
          </a>
          {% else %}
          <h3 class="job-title">{{ hackathon.role }}</h3>
          {% endif %}
        </span>
        <!-- <h3 class="job-title">{{ hackathon.role }}</h3> -->


        <div class="time">{{ hackathon.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ hackathon.company }}</div>

    </div><!--//meta-->

    {% if hackathon.details %}
    <div class="details">
      {{ hackathon.details | markdownify }}
    </div><!--//details-->
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

