{% assign patents_and_diplomas = site.data.data.patents_and_diplomas %}
{% if patents_and_diplomas %}
<section class="section patents_and_diplomas-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ patents_and_diplomas.title }}
  </h2>

  {% if patents_and_diplomas.intro %}
  <div class="intro">
    {{ patents_and_diplomas.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for certificate in patents_and_diplomas.assignments %}
  <div class="item">
    {% if certificate.link %}
      <li><a target="_blank" href="{{ certificate.link }}">{{ certificate.title }}</a></li>
    {% else %}
      <li>{{ certificate.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
