{% assign scholarships = site.data.data.scholarships %}
{% if scholarships %}
<section class="section scholarships-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ scholarships.title }}
  </h2>

  {% if scholarships.intro %}
  <div class="intro">
    {{ scholarships.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for scholarship in scholarships.scholarships %}
  <div class="item">
    {% if scholarship.link %}
      <li><a href="{{ scholarship.link }}">{{ scholarship.title }}</a></li>
    {% else %}
      <li>{{ scholarship.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
