{% assign scholarships = site.data.data.scholarships %}
{% if scholarships %}
<section class="section scholarships-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ scholarships.title }}
  </h2>

  {% if scholarships.intro %}
  <div class="intro">
      <p>{{ scholarships.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for scholarship in scholarships.assignments %}
    <div class="item">

      <span class="scholarship-title">
        {% if scholarship.link %}
        <a href="{{ scholarship.link }}" target="_blank">{{ scholarship.title }}</a>
        {% else %}
        {{ scholarship.title }}
        {% endif %}
      </span>

      {% if scholarship.tagline %}
      - <span class="scholarship-tagline">{{ scholarship.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
